.feinman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #000000;
  text-decoration: none;
  transition: opacity .4s ease;
}

.feinman__link:hover {
  opacity: .5;
}
