.video__iframe {
  position: absolute;
  z-index: 10;
  border: 0px;
  width: 515px;
  height: 316px;
}

.video__iframe:first-of-type {
  left: 0;
  bottom: -50px;
}

.video__iframe:last-of-type {
  right: 0;
  bottom: -50px;
}
