.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  color: #2f80ed;
  text-decoration: none;
  font-weight: normal;
  transition: opacity .4s ease;
}

.khan__buy-link:hover {
  opacity: .5;
}
